
        * {
            font-family: arial;
        }

        p,
        li {
            line-height: 1.5;
            font-size: 16px;

        }

.the-symbols {
            --focus: 3;
            overflow-x: hidden;
            display: flex;
            align-items: center;
            width: 328px;
            transform: translateX(calc((4 - var(--focus)) * 64px));
        }

        .symbol-window {
            width: 328px;
            display: flex;
            justify-content: center;
            align-items: center;

            overflow: hidden;

            mask-image: linear-gradient(to right,
                    transparent,
                    black 20%,
                    black 80%,
                    transparent);

            -webkit-mask-image: linear-gradient(to right,
                    transparent,
                    black 20%,
                    black 80%,
                    transparent);
        }

        .symbol-strip {
            /*--focus: 4;*/
            display: flex;
            align-items: center;
            /*
            width: max-content;

            transform: translateX(calc(301px - (86px * var(--focus))));
            */
        }
/*wot*/
        .symbol-strip img {
            width: 64px;
            height: 64px;
            flex-shrink: 0;
        }


        #currentMood {
            margin: 10px auto 10px auto;
            text-align: center;
        }

        .what p {
            padding: 0 10px 0 10px;
        }
